{% extends "home/header.html" %}

{% block content %}
    <div class="container extra-padding">
        <h1>About</h1>
        <p>
            <b>Pandanamics</b> An online medium to document my journey in building Skynet ... I mean, learning
            the different types of artificial intelligence (A.I) and machine learning solutions.
            <br>
            <br>
            This website is the outlet for my interest in coding, understanding the field of AI and ML,
            doodling cartoon pictures, and of course my appreciation for giant pandas.
        </p>
    </div>
{% endblock %}