{% extends "home/header.html" %}

{% block content %}

<header class="container_special">

</header>


<div class="container">
    <!-- Topics Section -->
    <div class="row">
        <div class="col-lg-12">
             <h2 class="page-header">Recent Projects</h2>
        </div>
        {% for topic in topics %}
        <div class="col-md-4 col-sm-6">
            <h1>{{topic.display_title}}</h1>
            <a href="/{{topic.title}}">
                <img class="img-responsive img-hover" src="static/home/media/{{topic.image}}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}