{% extends "home/header.html" %}

{% block content %}

<div class="container_special">
    <div id="carousel-generic" class="carousel slide" data-ride="carousel" data-interval="0" data-slide-to="{{forloop.counter0}}">
        <div class="carousel-inner" role="listbox">
            <!--These lines tell the items in exhibit to be active until they run out of content i.e. images-->
            {% for topic in topics reversed %}
                <div class="item {% if forloop.first %} active {%   endif %}">
                  <div align="center">
                    <!--The line below calls the item in the class where the files have been uploaded in the Admin Panel-->
                    <img src="static/home/media/{{topic.image}}">
                    <!--I like to add in captions for accessibility purposes. Also this slide is turned off so it doesn't automatically scroll.
                    Having a gallery automatically scroll is bad usability because screen readers will constantly restart everytime a new slide comes up-->
                    <p> {{topic.title}} </p>
                  </div>
                </div>
            {% endfor %}
        </div>
        <!-- There are the Left and Right Controls to change the pictures -->
        <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
{% endblock %}