{% extends "home/header.html" %}

{% block content %}

<header class="container_special">
    <div id="carousel-generic" class="carousel slide" style="height: 300px;" data-ride="carousel" data-interval="3000" data-slide-to="{{forloop.counter0}}">
        <div class="carousel-inner" role="listbox">
            <!--These lines tell the items in exhibit to be active until they run out of content i.e. images-->
            {% for post in posts reversed %}
                <div class="item {% if forloop.first %} active {%   endif %}">
                  <div align="center">
                    <!--The line below calls the item in the class where the files have been uploaded in the Admin Panel-->
                    <a href="/{{post.topic.title}}/{{post.title}}">
                        <img class="img-responsive img-hover" src="static/home/media/{{post.topic.image}}">
                        <!--I like to add in captions for accessibility purposes. Also this slide is turned off so it doesn't automatically scroll.
                        Having a gallery automatically scroll is bad usability because screen readers will constantly restart everytime a new slide comes up-->
                        <div class="carousel-title">
                            <h1> {{post.topic.display_title}} </h1>
                            <p> {{post.display_title}}</p>
                        </div>
                    </a>
                  </div>
                </div>
            {% endfor %}
        </div>
        <!-- There are the Left and Right Controls to change the pictures -->
        <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</header>


<div class="container">
    <!-- Topics Section -->
    <div class="row">
        <div class="col-lg-12">
             <h2 class="page-header">Project Stories</h2>
        </div>
        {% for topic in topics %}
        <div class="col-md-4 col-sm-6">
            <a href="/{{topic.title}}">
                <img class="img-responsive img-hover" src="static/home/media/{{topic.image}}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}