{% extends "home/header.html" %}

{% block content %}
    <div class="container extra-padding">
        <div class="col-lg-8">
                <div align="center">
                    <h3>{{post.display_title}}</h3>
                    <h6>on {{post.date}}</h6>
                    <br>
                    {{post.body|safe|linebreaks}}
                </div>
            </div>
        <div class="col-lg-4">
            <ul class="list-unstyled">
            {% for post in posts %}
                <li>
                    <a href="/{{post.topic.title}}/{{post.title}}">
                        <p>{{post.display_title}}</p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}