{% extends "home/header.html" %}

{% block content %}
    <div class="container extra-padding">
        <div class="col-sm-10">
            <div align="center">
                <h3>{{post.display_title}}</h3>
                <h6>on {{post.date}}</h6>
            </div>
            <div align="left">
                {{post.body|safe|linebreaks}}
            </div>
        </div>
        <div class="col-sm-2">
            <ul class="list-unstyled">
            {% for p in related_posts %}
                <div align="center" class="panel">
                    <li>
                        <a href="/{{p.topic.title}}/{{p.title}}">
                            {% if p == post %}
                                <div class="panel-heading">{{p.display_title}}</div>
                            {% else %}
                                <p>{{p.display_title}}</p>
                            {% endif %}
                        </a>
                    </li>
                </div>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}