.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .carousel {
        padding-top: 0px;
    }
}

.carousel {
    padding-top: 50px;
}

.carousel-title h1 {
    font-family: Garamond;
    font-size: 3em;
    color: blue !important;
    top: 0;
    bottom: auto;
}

.carousel-date p {
    font-family: Garamond;
    font-size: 3em;
    color: blue !important;
    top: 0;
    bottom: auto;
}
